.footer {
  background-color: #02066f;
  color: #f2f3f4;
  padding: 1rem;
  text-align: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.link {
  color: #f2f3f4;
  text-decoration: none;
  transition: opacity 0.1s;
}

.link:hover {
  opacity: 0.8;
}
